<a href="https://colab.research.google.com/github/Danilez/RDS/blob/master/module%201/RDS_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Импорт библиотек и загрузка данных

In [298]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [299]:
url = 'https://lms.skillfactory.ru/assets/courseware/v1/1d68c628a08cd5521ae70e976577568b/asset-v1:Skillfactory+DST-WEEKLY-2.0+08JULY2020+type@asset+block/movie_bd_v5.csv'
data = pd.read_csv(url)
data.sample(3)

        imdb_id    budget    revenue  ... release_date vote_average release_year
1553  tt0462519  20000000   17807569  ...    9/29/2006          5.5         2006
415   tt1023114  30000000   20348249  ...     9/3/2010          6.7         2010
1588  tt0307453  75000000  367275019  ...    9/20/2004          5.8         2004

[3 rows x 14 columns]

In [300]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [301]:
df = data.copy()

# Предобработка

In [302]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# Добавляем столбец "Прибыль":
df['profit'] = data['revenue'] - data['budget']

# Обрабатываем столбец "Жанры":
df['genres'] = data['genres'].apply(lambda x: x.split('|'))

# Обрабатываем столбец "Актеры":
df['cast'] = data['cast'].apply(lambda x: x.split('|'))

# Обрабатываем столбец "Дата":
df['release_date'] = data['release_date'].apply(lambda x: pd.Timestamp(x))

df.head(3)

     imdb_id     budget     revenue  ... vote_average release_year      profit
0  tt0369610  150000000  1513528810  ...          6.5         2015  1363528810
1  tt1392190  150000000   378436354  ...          7.1         2015   228436354
2  tt2908446  110000000   295238201  ...          6.3         2015   185238201

[3 rows x 15 columns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [303]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [304]:
answers['1'] = df[df['budget']==df['budget'].max()]['original_title'].values[0]

# 2. Какой из фильмов самый длительный (в минутах)?

In [305]:
answers['2'] = df[df['runtime']==df['runtime'].max()]['original_title'].values[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [306]:
answers['3'] = df[df['runtime']==df['runtime'].min()]['original_title'].values[0]

# 4. Какова средняя длительность фильмов?

In [307]:
answers['4'] = round(df['runtime'].mean(), 0)

# 5. Каково медианное значение длительности фильмов?

In [308]:
answers['5'] = df['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [309]:
answers['6'] = df[df['profit']==df['profit'].max()]['original_title'].values[0]

# 7. Какой фильм самый убыточный?

In [310]:
answers['7'] = df[df['profit']==df['profit'].min()]['original_title'].values[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [311]:
answers['8'] = df[df['revenue']>df['budget']]['original_title'].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [312]:
answers['9'] = df[df['release_year']==2008].sort_values(by=['profit'], ascending=False).iloc[0]['original_title']

In [313]:
# Вариант 2
df_2008 = df[df['release_year']==2008]
df_2008[df_2008['profit']==df_2008['profit'].max()]['original_title'].values[0]

'The Dark Knight'

In [314]:
# Вариант 3
df.loc[df['release_year']==2008].query('profit==profit.max()')['original_title'].values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [315]:
answers['10'] = df[(df['release_year']>=2012)&(df['release_year']<= 2014)].sort_values(by=['profit']).iloc[0]['original_title']

In [316]:
# Вариант 2
df_2012_2014 = df[(df['release_year']>=2012)&(df['release_year']<= 2014)]
df_2012_2014[df_2012_2014['profit']==df_2012_2014['profit'].min()]['original_title'].values[0]

'The Lone Ranger'

In [317]:
# Вариант 3
df[(df['release_year']>=2012)&(df['release_year']<= 2014)].query('profit==profit.min()')['original_title'].values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [318]:
# Создаем список всех жанров, указанных в датасете:
genres = set().union(*[x for x in df['genres']])

# Подсчитываем количество указаний жанров в датасете:
genres_count = {}
for genre in genres:
    genres_count[genre] = 0
    for row in df['genres']:
        if genre in row:
            genres_count[genre] += 1
genres_count = pd.DataFrame([*genres_count.items()], columns = ['genres', 'count'])
answers['11'] = genres_count[genres_count['count']==genres_count['count'].max()]['genres'].values[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [319]:
# Можно сделать тоже самое, что и в предыдущем блоке, на датасэте только для прибыльных фильмов

genres_count = {}
for genre in genres:
    genres_count[genre] = 0
    for row in df[df['profit']>0]['genres']:
        if genre in row:
            genres_count[genre] += 1
genres_count = pd.DataFrame([*genres_count.items()], columns = ['genres', 'count'])
answers['12'] = genres_count[genres_count['count']==genres_count['count'].max()]['genres'].values[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [320]:
answers['13'] = df.groupby(['director'])['revenue'].sum().idxmax()

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [321]:
# Извлекаем всех режиссеров, снимавших фильмы в жанре Action:
directors_action = []

for director in list(df[data['genres'].str.contains('Action')]['director']):
  if '|' in director:
    directors_action.extend(director.split('|'))
  else:
    directors_action.append(director)

# Преобразуем в Series для удобства полчения результата:
directors_action = pd.Series(directors_action)
answers['14'] = directors_action.value_counts().idxmax()

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [322]:
# Сделаем по аналогии с жанрами
# Создаем список всех актеров, снимавшихся в 2012 году
actors_2012 = set().union(*[x for x in df[df['release_year']==2012]['cast']])

# Посчитаем суммарные сборы фильмов, в которых снимались данные актеры:
actors_revenue_2012 = pd.DataFrame()
for actor in actors_2012:
  actors_revenue_2012 = actors_revenue_2012.append({'Actor': actor, '2012_Revenue': df[(data['cast'].str.contains(actor)) & (df['release_year']==2012)]['revenue'].sum()}, ignore_index=True)
answers['15'] = actors_revenue_2012[actors_revenue_2012['2012_Revenue'] == actors_revenue_2012['2012_Revenue'].max()]['Actor'].values[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [323]:
# Сделаем по аналогии с вопросом 14
# Извлекаем всех актеров, снимавшихся в высокобюджетных фильмах:
actors_high_budget = []

for cast in list(df[df['budget']>df['budget'].mean()]['cast']):
  actors_high_budget.extend(cast)

# Преобразуем в Series для удобства полчения результата:
actors_high_budget = pd.Series(actors_high_budget)
answers['16'] = actors_high_budget.value_counts().idxmax()

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [324]:
nicolas_cage_genres = []
for genres in df[data['cast'].str.contains('Nicolas Cage')]['genres']:
  nicolas_cage_genres.extend(genres)
nicolas_cage_genres = pd.Series(nicolas_cage_genres)
answers['17'] = nicolas_cage_genres.value_counts().idxmax()

# 18. Самый убыточный фильм от Paramount Pictures

In [325]:
answers['18'] = df[df['production_companies'].str.contains('Paramount Pictures')].query('profit==profit.min()')['original_title'].values[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [326]:
answers['19'] = df.groupby(['release_year'])['revenue'].sum().idxmax()

# 20. Какой самый прибыльный год для студии Warner Bros?

In [327]:
answers['20'] = df[df['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().idxmax()

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [328]:
answers['21'] = df.groupby(df['release_date'].apply(lambda x: x.month_name()))['imdb_id'].count().idxmax()

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [329]:
answers['22'] = df.groupby(df['release_date'].apply(lambda x: x.month_name()))['imdb_id'].count()[['June', 'July', 'August']].sum()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [330]:
director_winter = []
for director in df[df['release_date'].apply(lambda x: x.month).isin([12, 1, 2])]['director']:
  if '|' in director:
    director_winter.extend(director.split('|'))
  else:
    director_winter.append(director)

answers['23'] = pd.Series(director_winter).value_counts().idxmax()

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [331]:
# Создадим список всех компаний:
companies = []
for company in df['production_companies'].unique():
  companies.extend(company.split('|'))
companies = list(set(companies))

# Создадим список, содержащий среднюю длину названия фильмов для каждой студии:
title_len = pd.Series()
for company in companies:
  mean_len = df[df['production_companies'].str.contains(company)]['original_title'].apply(lambda x: len(str(x))).mean()
  title_len = title_len.append(pd.Series({company: mean_len}))
answers['24'] = title_len.idxmax()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [332]:
# Воспользуемся списком компаний из прошлого задания
overview_len = pd.Series()
for company in companies:
  mean_len = df[df['production_companies'].str.contains(company)]['overview'].apply(lambda x: len(str(x))).mean()
  overview_len = overview_len.append(pd.Series({company: mean_len}))
answers['25'] = overview_len.idxmax()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [333]:
# Определим названия лучших 1% фильмов по рейтингу:
top_films = df.sort_values(by=['vote_average'], ascending=False)[:int(round(len(df)*0.01, 0))]['original_title']

# Создадим перечень наименований фильмов и определим, который полностью находится в списке фильмов:
variants = {'v1': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
            'v2': ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
            'v3': ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'],
            'v4': ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
            'v5': ['Upside Down', 'Inside Out', 'Iron Man']}

for variant, films in variants.items():
  if len(films) == len(top_films[top_films.isin(films)]):
    answers['26'] = films

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [334]:
# Создадим пары актеров для каждого фильма:
L = ('Christian Bale', 'Gary Oldman', 'Robert Downy Jr.', 'Chris Evans', 'Evan Peters')


def pairs(l):
  p = []
  for i in range(len(l)-1):
    for j in range(i+1, len(l)):
      if l[i]<l[j]:
        p.append((l[i], l[j]))
      else:
        p.append((l[j], l[i]))
  return p

actors_pairs = []
df['cast'].apply(lambda x: actors_pairs.extend(pairs(x)))
answers['27'] = pd.Series(actors_pairs).value_counts().idxmax()

# Submission

In [335]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '2': 'Gods and Generals',
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': ('Daniel Radcliffe', 'Rupert Grint'),
 '3': 'Winnie the Pooh',
 '4': 110.0,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight'}

In [336]:
# и убедиться что ни чего не пропустил)
len(answers)

27